.outer-box{
    width:850px;
    height:700px;
    justify-content:center;
    background-color:white;
    margin-left:300px;
}
body{
    background-color: #d6d5d3 ;
}
.text-box{
    float:left;
    width:400px;
    text-align: center;
    margin-top: 200px;
}
.first{
    font-size: 34px;
    font-weight:600;
 }
 .second{
     color: grey;
     font-size: 24px;
     font-weight: 100;
 }
 .view-work{
    border-radius:50px;
    background-color:brown;
    font-size:larger;
    border:1px solid #C4C3C2;
    text-decoration: none;
    padding:20px;
    color:#161616
  }
  .view-work:hover{
      background-color:aqua ;
      cursor:pointer;
  }
  .action{
      padding:30px;
  }
  .one{
      text-decoration:none;
      background-color: rgb(194, 108, 158);
      font-size:large;
      padding:3px;
      font-weight:bolder;
  }
  .one:hover,.two:hover,.three:hover,.four:hover,.five:hover{
    background-color:aqua ;
    cursor:pointer;
} 
.two{
    text-decoration:none;
    background-color:rebeccapurple;
    font-size:large;
    padding:3px;
    font-weight:bolder; 
}
.three{
text-decoration:none;
      background-color:green;
      font-size:large;
      padding:3px;
      font-weight:bolder;
}
.four{
    text-decoration:none;
      background-color: blue;
      font-size:large;
      padding:3px;
      font-weight:bolder;
}
.five{
    text-decoration:none;
      background-color:gold;
      font-size:large;
      padding:3px;
      font-weight:bolder;
}
    .second-box{
    width:850px;
    height:600px;
    justify-content:center;
    background-color:black;
    margin-left: 300px; 
    }
    .work{
        color: white;
        text-align:center;
        font-size:x-large;
        padding:15px;
       }
    .photo{
        font-size:22px;
        font-weight:bolder;
        text-align:center;
        padding:20px;
        line-height:40px;
        background-color:#e9e4e0 ;
        margin-top:0px;
    }
    .text{
        color:#161616;
        font-weight:500;
        font-size:large;
    }
    .details{
        font-size:x-large;
        text-align: center;
        color:rgb(29, 29, 29);
        padding:40px;
    }
    .contact,.mail,.phone{
        font-size:18px;
        font-weight:200;
    }
    .dark,.number{
        font-weight:bold;
    }
    

   